BODY{font-family:verdana; FONT-SIZE:16px; color:#FFFFFF; background-image:url(sfondo.gif)}
a:link {color:#00FF00; text-decoration:none}
a:visited {color: #00FF00; text-decoration:none}
a:hover {color:#FFFF00; text-decoration: underline}